.App {
  text-align: center;
}

#btn:hover {
  color:grey
}

#navStyle {
  background-color: rgb(214,213,215);
  background: linear-gradient(180deg, rgba(214,213,215,1) 0%, rgba(159,156,159,0.936186974789916) 100%);}